In [27]:
print("My name is Rohit")

My name is Rohit

In [28]:
# Exercise 1
# Write a Python program to create a lambda function that adds 15 to a given number passed in as
# an argument, also create a lambda function that multiplies argument x with argument y
# and prints the result

a = lambda t : t + 15
print(a(12))
b = lambda x , y : x * y
print(b(3, 4))

27
12

In [29]:
# Exercise 2
# Write a python program to create a function that takes one argument, and that argument will
# be multiplied with a given unknown number

def function_compute(n):
  return lambda x : x * n
result = function_compute(2)
print("Double the number of 12 =" , result(12))
result = function_compute(3)
print("Triple the number of 12 =", result(12))
result = function_compute(4)
print("Quadruple the number of 12 =", result(12))
result = function_compute(5)
print("Quintuple the number of 12 =" , result(12))

Double the number of 12 = 24
Triple the number of 12 = 36
Quadruple the number of 12 = 48
Quintuple the number of 12 = 60

In [30]:
# Exercise 3
# Write a python program to sort a list of tuples using Lambda

subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
print("Original list of tuples:")
print(subject_marks)
subject_marks.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(subject_marks)

Original list of tuples:
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

Sorting the List of Tuples:
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [31]:
# Exercise 4
# Write a Python program to sort a list of dictionaries using Lambda

models = [{'make':'Nokia', 'model':216, 'color':'Black'}, {'make':'Mi Max', 'model':'2', 'color':'Gold'}, {'make':'Samsung', 'model': 7, 'color':'Blue'}]
print("Original list of dictionaries :")
print(models)
sorted_models = sorted(models, key = lambda x : x['color'])
print("\nSorting the List of dictionaries :")
print(sorted_models)

Original list of dictionaries :
[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

Sorting the List of dictionaries :
[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

In [32]:
# Exercise 5
# Write a Python program to filter a list of integers using Lambda

integers = [1,2,3,4,5,6,7,8,9,10]
print("Original list of integers:")
print(integers)
print("\nEven numbers from the said list:")
even_integers = list(filter(lambda x : x%2 == 0, integers))
print(even_integers)
print("\nOdd numbers from the said list:")
odd_integers = list(filter(lambda y : y%2 != 0, integers))
print(odd_integers)

Original list of integers:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Even numbers from the said list:
[2, 4, 6, 8, 10]

Odd numbers from the said list:
[1, 3, 5, 7, 9]

In [33]:
# Exercise 6
# Write a Python program to find palindromes in a given list of string using Lamda

text = ["php", "w3r", "Python", "abcd", "Java", "aaa"]
print("Orginal list of strings:")
print(text)
result = list(filter(lambda x: (x == "".join(reversed(x))), text))
print("\nList of palindromes:")
print(result)

Orginal list of strings:
['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']

List of palindromes:
['php', 'aaa']

In [34]:
# Exercise 7
# Write a python program to add two given lists using map and lambda

numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
print("Original list:")
print(numbers1)
print(numbers2)
result = map(lambda x, y : x + y, numbers1, numbers2)
print("\nResult: after adding two list")
print(list(result))

Original list:
[1, 2, 3]
[4, 5, 6]

Result: after adding two list
[5, 7, 9]

In [35]:
# Exercise 8
# Write a Python program to filter a given list to determine if the values in the list have a length of 6 using Lambda.
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
days = filter(lambda day: day if len(day)==6 else '', weekdays)
for d in days:
  print(d)

Monday
Friday
Sunday

In [36]:
# Exercise 9
# Write a Python program to square and cube every number in a given list of integers using Lambda

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original list of integers:")
print(nums)
print("\nSquare every number of the said list:")
square_nums = list(map(lambda x: x **2, nums))
print(square_nums)
print("\nCube every number of the said list:")
cube_nums = list(map(lambda x : x **3, nums))
print(cube_nums)

Original list of integers:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Square every number of the said list:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Cube every number of the said list:
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [37]:
 # Exercise 10
 # Write a Python program to find whether a given string starts with a given character using Lambda

starts_with = lambda x: True if x.startswith('P') else False
print(starts_with('Python'))
starts_with = lambda x: True if x.startswith('P') else False
print(starts_with('Java'))

True
False

In [38]:
# Exercise 11
# Write a Python program to find numbers divisible by nineteen or thirteen from a list of numbers using Lambda.

numbers = [19, 65, 57, 39, 152, 639, 121, 44, 90, 190]
print("Original list:")
print(numbers)
result = list(filter(lambda x : (x % 19 == 0 or x % 13 == 0), numbers))
print("\nNumbers of the above list divisible by nineteen or thirteen:")
print((result))

Original list:
[19, 65, 57, 39, 152, 639, 121, 44, 90, 190]

Numbers of the above list divisible by nineteen or thirteen:
[19, 65, 57, 39, 152, 190]

In [39]:
# Exercise 12
# Write a Python program that multiplies each number in a list with a given number
# using lambda functions. Print the results
nums = [2, 4, 6, 9 , 11]
n = 2
print("Original list: ", nums)
print("Given number: ", n)
filtered_numbers=list(map(lambda number:number*n,nums))
print("Result:")
print(' '.join(map(str,filtered_numbers)))

Original list:  [2, 4, 6, 9, 11]
Given number:  2
Result:
4 8 12 18 22

In [40]:
# Exercise 13
# Write a Python program to triple all numbers in a given list of integers. Use Python map.
numbers = (1, 2, 3, 4, 5, 6, 7)
print("Original list: ", numbers)
result = map(lambda x : x + x + x, numbers)
print("Triple of said list numbers:")
print(list(result))

Original list:  (1, 2, 3, 4, 5, 6, 7)
Triple of said list numbers:
[3, 6, 9, 12, 15, 18, 21]

In [41]:
# Exercise 14
# Write a Python program to add three given lists using Python map and lambda

numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
numbers3 = [7, 8, 9]
print("Original list: ")
print(numbers1)
print(numbers2)
print(numbers3)
result = map(lambda x, y, z: x + y + z, numbers1, numbers2, numbers3)
print("\nNew list after adding above three lists:")
print(list(result))

Original list:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

New list after adding above three lists:
[12, 15, 18]

In [42]:
# Exercise 15
# Write a python program to listify the list of given strings individually using Python map
colors = ['Red', 'Blue', 'Black', 'White', 'Pink']
print("Original list: ")
print(colors)
print("\nAfter listify the list of strings are:")
result = list(map(list, colors))
print(result)

Original list:
['Red', 'Blue', 'Black', 'White', 'Pink']

After listify the list of strings are:
[['R', 'e', 'd'], ['B', 'l', 'u', 'e'], ['B', 'l', 'a', 'c', 'k'], ['W', 'h', 'i', 't', 'e'], ['P', 'i', 'n', 'k']]

In [43]:
# Exercise 16
# Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.

#pow() is given to map two list objects, one for each base and index parameter.

bases_numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
indexes = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Base numbers abd index: ")
print(bases_numbers)
print(indexes)
result = list(map(pow, bases_numbers, indexes))
print("\nPower of said number in bases raised to the corresponding number in the index:")
print(result)

Base numbers abd index:
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Power of said number in bases raised to the corresponding number in the index:
[10, 400, 27000, 2560000, 312500000, 46656000000, 8235430000000, 1677721600000000, 387420489000000000, 100000000000000000000]

In [44]:
# Exercise 17
# Write a Python program to square the elements of a list using the map() function

def square_num(n):
  return n * n
numbers = [4, 5, 2, 9]
print("Original List: ", numbers)
result = map(square_num, numbers)
print("Square the elements of the said list using map():")
print(list(result))

Original List:  [4, 5, 2, 9]
Square the elements of the said list using map():
[16, 25, 4, 81]

In [45]:
# Exercise 18
# Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function.

def change_cases(s):
  return str(s).upper(), str(s).lower()

chrars = {'a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a'}
print("Original Characters:\n",chrars)

result = map(change_cases, chrars)
print("\nAfter converting above characters in upper and lower cases\nand eliminating duplicate letters:")
print(set(result))

Original Characters:
 {'f', 'U', 'o', 'E', 'i', 'a', 'b'}

After converting above characters in upper and lower cases
and eliminating duplicate letters:
{('A', 'a'), ('U', 'u'), ('O', 'o'), ('B', 'b'), ('F', 'f'), ('E', 'e'), ('I', 'i')}

In [46]:
# Exercise 19
# Write a Python program to add two given lists and find the difference between them. Use the map() function

def addition_subtraction(x, y):
  return x + y, x - y

numbers1 = [6, 5, 3, 9]
numbers2 = [0, 1, 7, 7]
print("Original lists:")
print(numbers1)
print(numbers2)
result = map(addition_subtraction, numbers1, numbers2)
print("\nResult:")
print(list(result))

Original lists:
[6, 5, 3, 9]
[0, 1, 7, 7]

Result:
[(6, 6), (6, 4), (10, -4), (16, 2)]

In [47]:
# Exercise 20
# Write a Python program to convert a given list of integers and a tuple of integers into
# a list of strings

numbers_list = [1, 2, 3, 4]
numbers_tuple = (0, 1, 2, 3)
print("Original list and tuple:")
print(numbers_list)
print(numbers_tuple)
results_list = list(map(str, numbers_list))
results_tuple = tuple(map(str, numbers_tuple))
print("\nList of strings:")
print(results_list)
print("\nTuple of strings:")
print(results_tuple)

Original list and tuple:
[1, 2, 3, 4]
(0, 1, 2, 3)

List of strings:
['1', '2', '3', '4']

Tuple of strings:
('0', '1', '2', '3')

In [48]:
# Exercise 21
# Write a Python program to create a new list taking specific elements from a tuple and convert a string value to an integer.

student_data  = [('Alberto Franco','15/05/2002','35kg'), ('Gino Mcneill','17/05/2002','37kg'), ('Ryan Parkes','16/02/1999', '39kg'), ('Eesha Hinton','25/09/1998', '35kg')]
print("Original data:")
print(student_data)
students_data_name = list(map(lambda x:x[0], student_data))
students_data_dob = list(map(lambda x:x[1], student_data))
students_data_weight = list(map(lambda x:int(x[2][:-2]), student_data))
print("\nStudent name:")
print(students_data_name)
print("Student name:")
print(students_data_dob)
print("Student weight:")
print(students_data_weight)

Original data:
[('Alberto Franco', '15/05/2002', '35kg'), ('Gino Mcneill', '17/05/2002', '37kg'), ('Ryan Parkes', '16/02/1999', '39kg'), ('Eesha Hinton', '25/09/1998', '35kg')]

Student name:
['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton']
Student name:
['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998']
Student weight:
[35, 37, 39, 35]

In [49]:
# Exercise 22
#Write a Python program to find the ratio of positive numbers, negative numbers and zeroes in an array of integers.

from array import array

def plusMinus(nums):
    n = len(nums)
    n1 = n2 = n3 = 0

    for x in nums:
        if x > 0:
            n1 += 1
        elif x < 0:
            n2 += 1
        else:
            n3 += 1

    return round(n1/n,2), round(n2/n,2), round(n3/n,2)

nums = array('i', [0, 1, 2, -1, -5, 6, 0, -3, -2, 3, 4, 6, 8])
print("Original array:",nums)
nums_arr = list(map(int, nums))
result = plusMinus(nums_arr)
print("Ratio of positive numbers, negative numbers and zeroes:")
print(result)
nums = array('i', [2, 1, 2, -1, -5, 6, 4, -3, -2, 3, 4, 6, 8])
print("\nOriginal array:",nums)
nums_arr = list(map(int, nums))
result = plusMinus(nums_arr)
print("Ratio of positive numbers, negative numbers and zeroes:")
print(result)

Original array: array('i', [0, 1, 2, -1, -5, 6, 0, -3, -2, 3, 4, 6, 8])
Ratio of positive numbers, negative numbers and zeroes:
(0.54, 0.31, 0.15)

Original array: array('i', [2, 1, 2, -1, -5, 6, 4, -3, -2, 3, 4, 6, 8])
Ratio of positive numbers, negative numbers and zeroes:
(0.69, 0.31, 0.0)

In [50]:
# Exercise 23
# Write a Python program to interleave two lists into another list randomly. Use the map() function.

import random
def randomly_interleave(nums1, nums2):
    result =  list(map(next, random.sample([iter(nums1)]*len(nums1) + [iter(nums2)]*len(nums2), len(nums1)+len(nums2))))
    return result
numbers1 = [1,2,7,8,3,7]
numbers2 = [4,3,8,9,4,3,8,9]
print("Original lists:")
print(numbers1)
print(numbers2)
print("\nInterleave two given list into another list randomly:")
print(randomly_interleave(numbers1, numbers2))

Original lists:
[1, 2, 7, 8, 3, 7]
[4, 3, 8, 9, 4, 3, 8, 9]

Interleave two given list into another list randomly:
[4, 1, 3, 8, 9, 4, 2, 3, 7, 8, 8, 9, 3, 7]

In [51]:
# Exercise 24
# Write a Python program to convert a given list of strings into a list of lists using the map function.

def strings_to_listOflists(str):
    result = map(list, str)
    return list(result)

colors = ["Red", "Green", "Black", "Orange"]
print('Original list of strings:')
print(colors)
print("\nConvert the said list of strings into list of lists:")
print(strings_to_listOflists(colors))

Original list of strings:
['Red', 'Green', 'Black', 'Orange']

Convert the said list of strings into list of lists:
[['R', 'e', 'd'], ['G', 'r', 'e', 'e', 'n'], ['B', 'l', 'a', 'c', 'k'], ['O', 'r', 'a', 'n', 'g', 'e']]

In [52]:
# Exercise 25
# Write a Python program to convert a given list of tuples to a list of strings using the map function.

def tuples_to_list_string(lst):
    result = list(map(' '.join, lst))
    return result
colors = [('red', 'pink'), ('white', 'black'), ('orange', 'green')]
print("Original list of tuples:")
print(colors)
print("\nConvert the said list of tuples to a list of strings:")
print(tuples_to_list_string(colors))
names = [('Sheridan','Gentry'), ('Laila','Mckee'), ('Ahsan','Rivas'), ('Conna','Gonzalez')]
print("\nOriginal list of tuples:")
print(names)
print("\nConvert the said list of tuples to a list of strings:")
print(tuples_to_list_string(names))

Original list of tuples:
[('red', 'pink'), ('white', 'black'), ('orange', 'green')]

Convert the said list of tuples to a list of strings:
['red pink', 'white black', 'orange green']

Original list of tuples:
[('Sheridan', 'Gentry'), ('Laila', 'Mckee'), ('Ahsan', 'Rivas'), ('Conna', 'Gonzalez')]

Convert the said list of tuples to a list of strings:
['Sheridan Gentry', 'Laila Mckee', 'Ahsan Rivas', 'Conna Gonzalez']