In [ ]:
# Exercise 1
# Write a Python program to triple all numbers in a given list of integers. Use python map

nums = (1,2,3,4,5,6,7)
print("Original list: ", nums)
result = map(lambda x: x + x + x, nums)
print("\nTriple of said list numbers:")
print(list(result))

Original list:  (1, 2, 3, 4, 5, 6, 7)

Triple of said list numbers:
[3, 6, 9, 12, 15, 18, 21]

In [4]:
# Exercise 2
# Write a Python program to add three given lists using Python map and lambda

nums1 = [1,2,3]
nums2 = [4,5,6]
nums3 = [7,8,9]
print("Original list: ")
print(nums1)
print(nums2)
print(nums3)
result = map(lambda x,y,z: x + y + z, nums1, nums2, nums3)
print("\nNew list after adding above three lists:")
print(list(result))

Original list:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

New list after adding above three lists:
[12, 15, 18]

In [5]:
# Exercise 3
# Write a Python program to listify the list of given strings individually using Python map.
color = ['Red', 'Blue', 'Black', 'White', 'Pink']
print("Original list: ")
print(color)
print("\nAfter listify the list of strings are:")
result = list(map(list, color))
print(result)

Original list:
['Red', 'Blue', 'Black', 'White', 'Pink']

After listify the list of strings are:
[['R', 'e', 'd'], ['B', 'l', 'u', 'e'], ['B', 'l', 'a', 'c', 'k'], ['W', 'h', 'i', 't', 'e'], ['P', 'i', 'n', 'k']]

In [2]:
# Exercise 4
# Write a Python program to square the elemeents of a list using the map() function.
nums = [4,5,2,9]
print("Original List: ", nums)
result = map(lambda x: x ** 2, nums)
print("Square the elements of the said list using map():")
print(list(result))

Original List:  [4, 5, 2, 9]
Square the elements of the said list using map():
[16, 25, 4, 81]

In [6]:
# Exercise 5
# Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.

# pow() is given to map two list objects, one for each base and index parameter.

bases_num = [10,20,30,40,50,60,70,80,90,100]
index = [1,2,3,4,5,6,7,8,9,10]
print("Base numbers and index:")
print(bases_num)
print(index)
result = list(map(pow, bases_num, index))
print("\nPower of said number in bases raised to the corresponding number in the index:")
print(result)

Base numbers and index:
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Power of said number in bases raised to the corresponding number in the index:
[10, 400, 27000, 2560000, 312500000, 46656000000, 8235430000000, 1677721600000000, 387420489000000000, 100000000000000000000]

In [1]:
# Exercise 6
# Write a Python program to convert all the characters into uppercase and lowercase and eliminate
# duplicate function.

def change_cases(s):
  return str(s).upper(), str(s).lower()

chrars = {'a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a'}
print("Original Characters:\n", chrars)
result = map(change_cases, chrars)
print("\nAfter converting above characters in upper and lower cases and eliminating duplicate letters:")
print(set(result))

Original Characters:
 {'U', 'o', 'i', 'b', 'f', 'E', 'a'}

After converting above characters in upper and lower cases and eliminating duplicate letters:
{('F', 'f'), ('B', 'b'), ('O', 'o'), ('I', 'i'), ('U', 'u'), ('A', 'a'), ('E', 'e')}

In [5]:
# Exercise 7
# Write a Python program to add two given lists and find the difference between them. Use the map() function

def addition_subtraction(x,y):
  return x + y, x - y
nums1 = [6, 5, 3, 9]
nums2 = [0, 1, 7, 7]
print("Original lists:")
print(nums1)
print(nums2)
result = map(addition_subtraction, nums1, nums2)
print("\nResult:")
print(list(result))

Original lists:
[6, 5, 3, 9]
[0, 1, 7, 7]

Result:
[(6, 6), (6, 4), (10, -4), (16, 2)]

In [6]:
# Exercise 8
# Write a Python program to convert a given list of integers and a tuple of integers into a given list of strings.

nums_list = [1,2,3,4]
nums_tuple = (0,1,2,3)
print("Original list and tuple:")
print(nums_list)
print(nums_tuple)
result_list = list(map(str, nums_list))
result_tuple = list(map(str, nums_tuple))
print("\nList of strings:")
print(result_list)
print("\nTuple of strings:")
print(result_tuple)

Original list and tuple:
[1, 2, 3, 4]
(0, 1, 2, 3)

List of strings:
['1', '2', '3', '4']

Tuple of strings:
['0', '1', '2', '3']

In [7]:
# Exercise 9
# Write a Python program to create a new list taking specific elements from a tuple and convert a string value to an integer.

student_data  = [('Alberto Franco','15/05/2002','35kg'), ('Gino Mcneill','17/05/2002','37kg'), ('Ryan Parkes','16/02/1999', '39kg'), ('Eesha Hinton','25/09/1998', '35kg')]
print("Original data:")
print(student_data)
students_data_name = list(map(lambda x:x[0], student_data))
students_data_dob = list(map(lambda x:x[1], student_data))
students_data_weight = list(map(lambda x:int(x[2][:-2]), student_data))
print("\nStudent name:")
print(students_data_name)
print("Student name:")
print(students_data_dob)
print("Student weight:")
print(students_data_weight)

Original data:
[('Alberto Franco', '15/05/2002', '35kg'), ('Gino Mcneill', '17/05/2002', '37kg'), ('Ryan Parkes', '16/02/1999', '39kg'), ('Eesha Hinton', '25/09/1998', '35kg')]

Student name:
['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton']
Student name:
['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998']
Student weight:
[35, 37, 39, 35]

In [8]:
# Exercise 10
# Write a Python program to compute the sum of elements of an array of integers. Use the map() function

from array import array
def array_sum(nums_arr):
  sum_n = 0
  for n in nums_arr:
    sum_n += n
  return sum_n

nums = array('i', [1, 2, 3, 4, 5, -15])
print("Original array:",nums)
nums_arr = list(map(int, nums))
result = array_sum(nums_arr)
print("Sum of all elements of the said array:")
print(result)

Original array: array('i', [1, 2, 3, 4, 5, -15])
Sum of all elements of the said array:
0

In [9]:
# Exercise 11
# Write a Python program to count the same pair in two given lists. Use map() function

from operator import eq
def count_same_pair(nums1, nums2):
    result = sum(map(eq, nums1, nums2))
    return result

nums1 = [1,2,3,4,5,6,7,8]
nums2 = [2,2,3,1,2,6,7,9]
print("Original lists:")
print(nums1)
print(nums2)
print("\nNumber of same pair of the said two given lists:")
print(count_same_pair(nums1, nums2))

Original lists:
[1, 2, 3, 4, 5, 6, 7, 8]
[2, 2, 3, 1, 2, 6, 7, 9]

Number of same pair of the said two given lists:
4

In [10]:
# Exercise 12
# Write a Python program to compute the square of the first N Fibonacci numbers, using the map function and generate a list of the numbers.

import itertools
n = 10
def fibonacci_nums(x=0, y=1):
    yield x
    while True:
        yield y
        x, y = y, x + y
print("First 10 Fibonacci numbers:")
result = list(itertools.islice(fibonacci_nums(), n))
print(result)
square = lambda x: x * x
print("\nAfter squaring said numbers of the list:")
print(list(map(square, result)))

First 10 Fibonacci numbers:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

After squaring said numbers of the list:
[0, 1, 1, 4, 9, 25, 64, 169, 441, 1156]

In [11]:
# Exercise 13
# Write a Python program to find the ratio of positive numbers, negative numbers and zeroes in an array of integers.

from array import array

def plusMinus(nums):
    n = len(nums)
    n1 = n2 = n3 = 0

    for x in nums:
        if x > 0:
            n1 += 1
        elif x < 0:
            n2 += 1
        else:
            n3 += 1

    return round(n1/n,2), round(n2/n,2), round(n3/n,2)

nums = array('i', [0, 1, 2, -1, -5, 6, 0, -3, -2, 3, 4, 6, 8])
print("Original array:",nums)
nums_arr = list(map(int, nums))
result = plusMinus(nums_arr)
print("Ratio of positive numbers, negative numbers and zeroes:")
print(result)
nums = array('i', [2, 1, 2, -1, -5, 6, 4, -3, -2, 3, 4, 6, 8])
print("\nOriginal array:",nums)
nums_arr = list(map(int, nums))
result = plusMinus(nums_arr)
print("Ratio of positive numbers, negative numbers and zeroes:")
print(result)

Original array: array('i', [0, 1, 2, -1, -5, 6, 0, -3, -2, 3, 4, 6, 8])
Ratio of positive numbers, negative numbers and zeroes:
(0.54, 0.31, 0.15)

Original array: array('i', [2, 1, 2, -1, -5, 6, 4, -3, -2, 3, 4, 6, 8])
Ratio of positive numbers, negative numbers and zeroes:
(0.69, 0.31, 0.0)

In [12]:
# Exercise 14
# Write a Python program to interleave two lists into another list randomly. Use the map() function.

import random
def randomly_interleave(nums1, nums2):
    result =  list(map(next, random.sample([iter(nums1)]*len(nums1) + [iter(nums2)]*len(nums2), len(nums1)+len(nums2))))
    return result
nums1 = [1,2,7,8,3,7]
nums2 = [4,3,8,9,4,3,8,9]
print("Original lists:")
print(nums1)
print(nums2)
print("\nInterleave two given list into another list randomly:")
print(randomly_interleave(nums1, nums2))

Original lists:
[1, 2, 7, 8, 3, 7]
[4, 3, 8, 9, 4, 3, 8, 9]

Interleave two given list into another list randomly:
[4, 1, 3, 8, 9, 2, 4, 3, 7, 8, 3, 7, 8, 9]

In [13]:
# Exercise 15
# Write a Python program to split a given dictionary of lists into list of dictionaries using the map function.

def list_of_dicts(marks):
    result = map(dict, zip(*[[(key, val) for val in value] for key, value in marks.items()]))
    return list(result)
marks = {'Science': [88, 89, 62, 95], 'Language': [77, 78, 84, 80]}
print("Original dictionary of lists:")
print(marks)
print("\nSplit said dictionary of lists into list of dictionaries:")
print(list_of_dicts(marks))

Original dictionary of lists:
{'Science': [88, 89, 62, 95], 'Language': [77, 78, 84, 80]}

Split said dictionary of lists into list of dictionaries:
[{'Science': 88, 'Language': 77}, {'Science': 89, 'Language': 78}, {'Science': 62, 'Language': 84}, {'Science': 95, 'Language': 80}]

In [14]:
# Exercise 16
# Write a Python program to convert a given list of strings into a list of lists using the map function.

def strings_to_listOflists(str):
    result = map(list, str)
    return list(result)

colors = ["Red", "Green", "Black", "Orange"]
print('Original list of strings:')
print(colors)
print("\nConvert the said list of strings into list of lists:")
print(strings_to_listOflists(colors))

Original list of strings:
['Red', 'Green', 'Black', 'Orange']

Convert the said list of strings into list of lists:
[['R', 'e', 'd'], ['G', 'r', 'e', 'e', 'n'], ['B', 'l', 'a', 'c', 'k'], ['O', 'r', 'a', 'n', 'g', 'e']]

In [15]:
# Exercise 17
# Write a Python program to convert a given list of tuples to a list of strings using the map function.

def tuples_to_list_string(lst):
    result = list(map(' '.join, lst))
    return result
colors = [('red', 'pink'), ('white', 'black'), ('orange', 'green')]
print("Original list of tuples:")
print(colors)
print("\nConvert the said list of tuples to a list of strings:")
print(tuples_to_list_string(colors))
names = [('Sheridan','Gentry'), ('Laila','Mckee'), ('Ahsan','Rivas'), ('Conna','Gonzalez')]
print("\nOriginal list of tuples:")
print(names)
print("\nConvert the said list of tuples to a list of strings:")
print(tuples_to_list_string(names))

Original list of tuples:
[('red', 'pink'), ('white', 'black'), ('orange', 'green')]

Convert the said list of tuples to a list of strings:
['red pink', 'white black', 'orange green']

Original list of tuples:
[('Sheridan', 'Gentry'), ('Laila', 'Mckee'), ('Ahsan', 'Rivas'), ('Conna', 'Gonzalez')]

Convert the said list of tuples to a list of strings:
['Sheridan Gentry', 'Laila Mckee', 'Ahsan Rivas', 'Conna Gonzalez']